@model IEnumerable<PropertyManagement.Models.Property>

@{
    ViewData["Title"] = "Manage Properties";
}
<h1>Manage Rentals</h1>

<div class="cta">
    <a class="add-new" asp-area="" asp-controller="Properties" asp-action="Index">Add&nbsp;New</a>
</div>

<div class="property-container">
    @foreach (var property in Model)
    {
        <p>
            @Html.DisplayFor(x => property.AddressLine1) 
            @Html.DisplayFor(x => property.AddressLine2) 
            @Html.DisplayFor(x => property.City) 
            @Html.DisplayFor(x => property.StateCode) 
            @Html.DisplayFor(x => property.ZipCode) 
        </p>
    }
</div>
