@model IEnumerable<PropertyManagement.Models.Owner>

@{
    ViewData["Title"] = "Manage Properties";
}
<h1>Manage Rentals</h1>

<div class="cta">
    <a class="add-new" asp-area="" asp-controller="Properties" asp-action="Index">Add&nbsp;New</a>
</div>

<div class="property-container">
    @foreach (var owner in Model)
    {
        @foreach (var property in owner.Properties)
        {
            <div class="individual-property">
                <div>
                    <span>@Html.DisplayFor(x => property.PropertyID)</span>
                    <span>
                        @Html.DisplayFor(x => property.AddressLine1),
                    </span>
                    @if (property.AddressLine2 != null)
                    {
                        <span>
                            @Html.DisplayFor(x => property.AddressLine2),
                        </span>
                    }
                    <span>
                        @Html.DisplayFor(x => property.City),
                    </span>
                    <span>
                        @Html.DisplayFor(x => property.StateCode),
                    </span>
                    <span>
                        @Html.DisplayFor(x => property.ZipCode)
                    </span>
                    @if (property.UnitNumber != null)
                    {
                        <span>
                        Unit# @Html.DisplayFor(x => property.UnitNumber)
                        </span>
                    }
                </div>
                <div>
                    <span>
                        Bedrooms: @Html.DisplayFor(x => property.Bedrooms)
                    </span>
                    <span>
                        Bathrooms: @Html.DisplayFor(x => property.Bathrooms)
                    </span>
                    <span>
                        Pets Allowed: @(property.PetsAllowed == true ? "Yes" : "No")
                    </span>
                    <span>
                        Washer/Dryer: @(property.WasherDryer == true ? "Yes" : "No")
                    </span>
                    <span>
                        Dishwasher: @(property.Dishwasher == true ? "Yes" : "No")
                    </span>
                </div>
                <div>
                    <h5 class="property-subtitle">Owner</h5>
                    <span>@Html.DisplayFor(x => owner.OwnerID)</span>
                    <span>
                        @Html.DisplayFor(x => owner.FirstName)
                    </span>
                    <span>
                        @Html.DisplayFor(x => owner.LastName)
                    </span>
                    <span>
                        @Html.DisplayFor(x => owner.Email)
                    </span>
                    <span>
                        @Html.DisplayFor(modelItem => owner.Phone)
                    </span>
                    <span>
                        <a asp-controller="Owner" asp-action="EditOwner" asp-route-id="@owner.OwnerID">Edit</a>
                    </span>
                </div>
                <div>
                    <h5 class="property-subtitle">Current Lease</h5>
                    @if (property.CurrentLease == null)
                    {
                        <span class="vacant">Vacant</span>
                    } else
                    {
                        <div>
                            <span>@Html.DisplayFor(x => property.CurrentLease.LeaseID)</span>
                            <span>
                                @Html.DisplayFor(x => property.CurrentLease.StartDate) - @Html.DisplayFor(x => property.CurrentLease.EndDate)
                            </span>
                            <span>
                                Monthly Rent: @Html.DisplayFor(x => property.CurrentLease.MonthlyRent)
                            </span>
                            <span>
                                Rent Due: @Html.DisplayFor(x => property.CurrentLease.RentOutstanding)
                            </span>
                            <span>
                                Deposit Amount: @Html.DisplayFor(x => property.CurrentLease.SecurityDepositAmount)
                            </span>
                            <span>
                                Deposit Paid: @(property.CurrentLease.SecurityDepositPaid == true ? "Yes" : "No")
                            </span>
                            <span>
                                <a asp-controller="Lease" asp-action="EditLease" asp-route-id="@property.CurrentLease.LeaseID">Edit</a>
                            </span>
                        </div>

                        <div>
                            <h5 class="property-subtitle">Renters</h5>

                            @foreach (var renter in property.CurrentLease.Renters)
                            {
                                <div>
                                    <span>@Html.DisplayFor(x => renter.RenterID)</span>
                                    <span>
                                        @Html.DisplayFor(x => renter.FirstName)
                                    </span>
                                    <span>
                                        @Html.DisplayFor(x => renter.LastName)
                                    </span>
                                    <span>
                                        @Html.DisplayFor(x => renter.Email)
                                    </span>
                                    <span>
                                        @Html.DisplayFor(modelItem => renter.Phone)
                                    </span>
                                    <span>
                                        <a asp-controller="Renter" asp-action="EditRenter" asp-route-id="@renter.RenterID">Edit</a>
                                    </span>
                                </div>
                            }
                        </div>
                    }
                </div>
                <span>
                    <a asp-controller="Properties" asp-action="EditProperty" asp-route-id="@property.PropertyID">Edit&nbsp;Property</a>
                </span>
            </div>
        }
    }
</div>
